<ion-content>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="4">

          <img [alt]="animeInfo?.title" src='{{ "https://simkl.in/posters/" + animeInfo?.poster + "_w" + ".jpg" }}' />

        </ion-col>
        <ion-col size="8">
          <ion-card-header>
            <ion-card-title>{{animeInfo?.title}}</ion-card-title>
            <ion-card-subtitle>Status: {{animeInfo?.status}}</ion-card-subtitle>

            <ion-chip *ngFor="let item of animeInfo?.genres">
              {{item}}
            </ion-chip>

            <ion-card-subtitle>Episodios: {{animeInfo?.total_episodes}}</ion-card-subtitle>
          </ion-card-header>
        </ion-col>
        <ion-card-content>
          {{animeInfo?.overview}}
        </ion-card-content>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="1" *ngFor="let item of episodes">
        <ion-button (click)="toggleSeen(item.episode)" fill="clear" color="dark" [ngClass]='{marked: item.seen}'>
          {{item.episode}}

          <!--  <ion-icon *ngIf="item.seen; else numEpisode" name="eye-outline" slot="icon-only"></ion-icon>
    
          <ng-template #numEpisode>
            {{item.episode}}
          </ng-template> -->

        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>






</ion-content>