<ion-content>

  <ion-card class="animate__animated animate__fadeIn">
    <ion-grid>
      <ion-row >
        <!-- image -->
        <ion-col size="4">

          <img [alt]="animeInfo?.title" src='{{ "https://simkl.in/posters/" + animeInfo?.poster + "_w" + ".jpg" }}' />

        </ion-col>

        <!-- info -->
        <ion-col size="7">
          <ion-card-header>
            <ion-card-title>{{animeInfo?.title}}</ion-card-title>

            <ion-chip *ngFor="let item of animeInfo?.genres">
              {{item}}
            </ion-chip>

            <ion-card-subtitle>Episodios: {{animeInfo?.total_episodes}}</ion-card-subtitle>
          </ion-card-header>
        </ion-col>

        <!-- status -->
        <ion-col size="1">
          <ion-card-header>

            <ion-chip [color]="statusColorScheme" > {{animeInfo?.status | titlecase }}</ion-chip>
          </ion-card-header>
        </ion-col>
        <ion-card-content>
          {{animeInfo?.overview}}
        </ion-card-content>
      </ion-row>
    </ion-grid>
  </ion-card>

<app-episode-accordion *ngFor="let item of pagination" [page]="item" [pagination]="pagination" [lastEmmited]="animeInfo?.total_episodes"></app-episode-accordion>

</ion-content>